footer{
    background-color: $verde_claro;
    margin: 1.5% 1.5% 0px 1.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    line-height: 1.5;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__comentario{
    margin-top: 3rem;
    text-transform: uppercase;
    color: #666668d2;
    line-height: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__lista{
    padding-left: 0;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__item{
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

.footer__logo{
    width: 30px;
    height: 30px;
    color: $azul_oscuro;
    &:hover{
        transform:translateY(-5px) scale(1.2);
        color: $rosa_medio;
    }
}


