/* MEDIA QUERY */

@media only screen and (max-width: 1024px){

    /* GENERAL */
    body header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        nav{
        align-self: auto;
        display: block;
        width: 100%;
        }   
    }
    
    /* INICIO */
    .inicio{
        justify-content: center;
        align-items: center;
    }

    .principal__titulo{
        height: 100%;
    }
    .principal__descripcion{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5%;
    }

}

@media only screen and (max-width: 992px){

    div#carouselExampleControls {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 5px;
    }

    /* INICIO */
    .seccion-inicio{
        padding: 0;
    }
    .seccion-inicio__item{
        margin: 2rem 1rem 1rem 0;

        &:last-child{
            margin-bottom: 2rem;
        }
    }
}

@media only screen and (max-width: 768px){

    /* GENERAL */

    body {
        overflow-x: hidden;
    
        header{
        display: flex;
        align-items: center;
        justify-content: center;
        
        nav{
        align-self: auto;
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: transparent;
        }
    }
}
    .menu{
        display: flex;
        flex-direction: column;    
        height: 77%;
        background-color: $rosa_claro;
        z-index: 1000;

        a{
            height: inherit;
            font-size: 90%;
        }
    }

    .menu > li {
        line-height: 2rem;
    }

    .submenu {
        width: 100%;
        position: relative;


        li{
            &:first-child{
                border-top: 1px solid #6666688a;
                }
        }
    }

    body{
        font-size: $letra_peq;
    }

    /* INICIO */
    .inicio{
        justify-content: center;
        align-items: center;
    }
    .comentario{
        font-size: 120%;
    }
    .principal__titulo{
        height: 100%;
    }
    .principal__descripcion{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        height: 100%;
    }

    .seccion-inicio{
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 3rem;

        &__item{
            width: 20rem;
            &:last-child{
                margin-bottom: 0;
            };
        }
    }
    
    /* SERVICIOS */
    .parrafo-servicio{
        flex-direction: column;
        margin: 5% 5%;
        &__subtitulo{
            text-align: center;
        }
    }
    
    .parrafo-servicio__imagen--derecha{
        margin-left: 0px;
        order: initial;
        }
    
    .parrafo-servicio__imagen--izquierda{
        margin-right: 0px;
    }
        
    /* CATÁLOGO */
    .catalogo-tradicional{
        &__item:nth-child(1){
            grid-row-start: span 1;
            grid-column-start: span 2;
        }
        &__item:nth-child(2){
            grid-row-start: span 1;
            grid-column-start: span 1;
        }
        &__item:nth-child(3){
            grid-row-start: span 1;
            grid-column-start: span 1;
        }
        &__item:nth-child(4){
            grid-row-start: span 1;
            grid-column-start: span 2;
        }
        &__item:nth-child(5){
            grid-row-start: span 1;
            grid-column-start: span 2;
        }
    }

    .catalogo-semiper{
        &__item:nth-child(11){
            grid-row-start: span 1;
            grid-column-start: span 2;
        }
        
    }

    .catalogo-acrilicas{
        &__item:nth-child(7){
            grid-row-start: span 2;
        }
        &__item:nth-child(18){
            grid-row-start: span 2;
        }
        &__item:nth-child(23){
            grid-row-start: span 1;
        }
    }
        
    .catalogo__subtitulo{
        font-size: 220%;
    }
        
    /* SOBRE MI */
    .sobre-mi{
        width: 60vw;
        height: auto;
        margin: auto;
        padding: 15px 25px 15px 25px;
        border-radius: 8px;
        background-color: $rosa_medio;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
            
    .sobre-mi__foto{
        width: 100%;
        height: 100%;
    }
            
    .sobre-mi__descripcion{
        width: 100%;
        height: 100%;
    }
            
    /* CONTACTO */

    .form{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
}


@media only screen and (max-width: 420px){
    /* GENERAL */

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
    }
    
    .footer__logo{
        width: 20px;
        height: 20px;
    }
    
    .footer__parrafo{
        width: 100%;
    }

    .footer__item{
        padding: 0px 2px;
        width: auto;
        height: auto;
    }

    .footer__lista{
        display: flex;
        width: 80vw;
        margin-bottom: 15px;

    }

    .footer__comentario{
        margin-bottom: 3%;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        &-espacio{
            line-height: 20px;
        }
    }

    .submenu li {
    white-space: pre-wrap;
}

    /* INICIO */
    .seccion-inicio__item{
        width: 15rem;
        margin-right: 0;
    }

    /* CATÁLOGO */

    .catalogo-tradicional{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        &__item:nth-child(1){
            grid-row-start: span 1;
            grid-column-start: span 2;
        }
        &__item:nth-child(2){
            grid-row-start: span 1;
            grid-column-start: span 1;
        }
        &__item:nth-child(6){
            grid-row-start: span 1;
            grid-column-start: span 2;
        }
    }

    .catalogo-semiper{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        &__item:nth-child(4){
            grid-row-start: span 1;
            grid-column-start: span 1;
        }
        &__item:nth-child(11){
            grid-row-start: span 1;
            grid-column-start: span 2;
        }
        
    }

    .catalogo-acrilicas{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        &__item:nth-child(23){
            grid-row-start: span 1;
            grid-column-start: span 1;
        }
    }

    .catalogo-recacr{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        &__item:nth-child(3){
            grid-column-start: span 2;
        }
        &__item:nth-child(4){
            grid-column-start: span 2;
        }
    }

    .catalogo-videos{
        display: flex; 
        flex-wrap: wrap;
        
        &__item{
            padding: 0 1rem;
            height: 50vh;
            width: 30vw;
        }
    }

    .catalogo__subtitulo{
        font-size: 130%;
        text-align: center;
    }

    /* SOBRE MI */
    .sobre-mi{
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 1.5%;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
    &__foto{
        width: 100%;
        height: 100%;
        }

    &__descripcion{
        width: 100%;
        height: 100%;
        }
    }
}