@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #353536; }

header {
  margin: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.8rem;
  box-shadow: 0px 5px 5px 1px rgba(178, 178, 179, 0.502); }

.actual {
  background-color: rgba(226, 161, 175, 0.651);
  color: white; }

nav {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fbdfe9; }

.logo {
  height: 100%;
  width: 57px;
  background-color: white; }

.menu {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0; }
  .menu li {
    position: relative;
    width: 100%; }
    .menu li:hover .submenu li {
      display: block; }
  .menu a {
    padding: 8px;
    width: auto;
    height: 100%;
    font-size: 110%;
    letter-spacing: 0.6px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #353536;
    transition-property: color, background-color;
    transition: 450ms;
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu a:hover {
      transition: 0.1s;
      color: white;
      background-color: #e2a0ae; }

.submenu {
  display: block;
  position: absolute;
  background-color: white;
  z-index: 100;
  padding: 0;
  margin: 0;
  white-space: nowrap; }
  .submenu li {
    display: none;
    width: inherit;
    height: 100%;
    font-size: .9rem;
    transition: 450ms ease;
    background-color: white;
    border-left: 1px solid #6666688a;
    border-right: 1px solid #6666688a; }
    .submenu li:last-child {
      border-bottom: 1px solid #6666688a; }
    .submenu li:first-of-type {
      padding-top: 5px; }
    .submenu li:last-of-type {
      padding-bottom: 5px; }
    .submenu li a {
      background-color: #fbdfe9;
      margin-left: 5px;
      margin-right: 5px; }
      .submenu li a:hover {
        transition: 0.1s;
        color: white;
        background-color: #e2a0ae; }

.flecha {
  font-size: 10px; }

footer {
  background-color: #DAEDBD;
  margin: 1.5% 1.5% 0px 1.5%;
  padding-top: 3%;
  padding-bottom: 3%;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.footer__comentario {
  margin-top: 3rem;
  text-transform: uppercase;
  color: #666668d2;
  line-height: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.footer__parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer__lista {
  padding-left: 0;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer__item {
  padding-left: 5%;
  padding-right: 5%;
  margin: auto; }

.footer__logo {
  width: 30px;
  height: 30px;
  color: #353536; }
  .footer__logo:hover {
    transform: translateY(-5px) scale(1.2);
    color: #e2a0ae; }

.inicio main {
  height: 100%;
  margin-top: 3%; }

.principal__descripcion {
  padding: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center; }

.principal__titulo {
  margin-top: 1.5%;
  font-family: "MonteCarlo", cursive;
  font-size: 60px;
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center; }

.seccion-inicio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding: 3rem 0;
  border-top: 1.5px solid #6666688a;
  border-bottom: 1.5px solid #6666688a; }
  .seccion-inicio__item {
    background-color: #fbdfe9;
    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502); }
  .seccion-inicio__link {
    text-decoration: none; }
  .seccion-inicio__parrafo {
    margin-bottom: 0px;
    text-align: center;
    color: #353536;
    transition: 250ms ease; }
    .seccion-inicio__parrafo:hover {
      transform: translateY(-1px);
      color: #c57588; }
  .seccion-inicio__logo {
    color: #353536; }

/* Servicios */
.parrafo-servicio {
  background-color: #fbdfe9;
  height: 20%;
  margin: 3% 10%;
  padding: 30px;
  border: #637a28 3px solid;
  overflow: hidden;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 1px rgba(178, 178, 179, 0.502); }
  .parrafo-servicio__imagen--izquierda, .parrafo-servicio__imagen--derecha {
    border: 2px solid #DAEDBD;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    align-self: center;
    width: 200px;
    height: 200px;
    object-fit: cover; }
  .parrafo-servicio__imagen--derecha {
    order: 2;
    margin-left: 10px; }
  .parrafo-servicio__contenedor {
    text-align: left;
    line-height: 1.5; }
  .parrafo-servicio__texto {
    font-weight: 700; }
  .parrafo-servicio__elemento {
    list-style-position: inside;
    list-style-type: circle;
    font-weight: 200; }
  .parrafo-servicio__subtitulo {
    font-size: 20px;
    color: #637a28; }
  .parrafo-servicio__descripcion--importante {
    text-decoration: underline;
    font-weight: bold; }

/*Catálogo*/
.contenedor-catalogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.catalogo-tradicional {
  width: 80vw;
  margin: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 10rem;
  grid-gap: 3px; }
  .catalogo-tradicional__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .catalogo-tradicional__item:nth-child(3) {
    grid-row-start: span 2; }
  .catalogo-tradicional__item:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start: span 2; }

.catalogo-semiper {
  width: 80vw;
  margin: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 10rem;
  grid-gap: 3px;
  /* &__item:nth-child(4){
        grid-row-start: span 2;
        grid-column-start: span 2;
    } */ }
  .catalogo-semiper__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .catalogo-semiper__item:nth-child(1) {
    grid-row-start: span 3;
    grid-column-start: span 2;
    overflow-y: hidden; }

.catalogo-acrilicas {
  width: 80vw;
  margin: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 10rem;
  grid-gap: 3px; }
  .catalogo-acrilicas__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .catalogo-acrilicas__item:nth-child(7) {
    grid-row-start: span 3; }
  .catalogo-acrilicas__item:nth-child(18) {
    grid-row-start: span 3; }
  .catalogo-acrilicas__item:nth-child(19) {
    grid-row-start: span 2; }
  .catalogo-acrilicas__item:nth-child(23) {
    grid-column-start: span 2;
    grid-row-start: span 2; }

.catalogo-recacr {
  width: 80vw;
  margin: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 10rem;
  grid-gap: 3px; }
  .catalogo-recacr__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .catalogo-recacr__item:nth-child(1) {
    grid-row-start: span 2; }
  .catalogo-recacr__item:nth-child(2) {
    grid-row-start: span 2; }

.catalogo-videos {
  margin-bottom: 5rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  border-top: 1.5px solid #6666688a;
  border-bottom: 1.5px solid #6666688a; }
  .catalogo-videos__item {
    padding: 0;
    margin: 0;
    height: 40vh;
    width: 20vw; }

.catalogo-tradicional__imagen:hover, .catalogo-semiper__imagen:hover, .catalogo-acrilicas__imagen:hover, .catalogo-recacr__imagen:hover {
  transform: scale(1.1, 1.1);
  z-index: 1;
  transition: .6s; }

/*Sobre Mi*/
.sobre-mi {
  height: 70vh;
  width: 80vw;
  margin: auto;
  margin-bottom: 8rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sobre-mi__foto {
    width: 50%;
    height: 100%; }
  .sobre-mi__descripcion {
    background-color: #e2a0ae;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
  .sobre-mi__texto {
    word-spacing: 2px;
    line-height: 1.5;
    margin: 10px;
    display: block; }

/*Contacto*/
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 2% 5vw;
  margin: 20px 25vw 40px;
  border-radius: 6px;
  background-color: #e2a0ae; }
  .form-checkbox__box {
    width: 15px;
    height: 15px; }
    .form-checkbox__box:hover {
      cursor: pointer; }

.botones {
  align-self: center; }
  .botones__form {
    background-color: white;
    box-shadow: 0px 3px 3px 1px rgba(178, 178, 179, 0.502);
    border: solid 1px white;
    border-radius: 3px;
    font-size: 18px;
    padding: 4px;
    margin: 4px; }
    .botones__form:hover {
      cursor: pointer;
      background-image: linear-gradient(to top, #fce1e6 100%, transparent 50%);
      border: solid 1px #ffc7d1;
      transform: translateY(-1px); }

/* MEDIA QUERY */
@media only screen and (max-width: 1024px) {
  /* GENERAL */
  body header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; }
    body header nav {
      align-self: auto;
      display: block;
      width: 100%; }
  /* INICIO */
  .inicio {
    justify-content: center;
    align-items: center; }
  .principal__titulo {
    height: 100%; }
  .principal__descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5%; } }

@media only screen and (max-width: 992px) {
  div#carouselExampleControls {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px; }
  /* INICIO */
  .seccion-inicio {
    padding: 0; }
  .seccion-inicio__item {
    margin: 2rem 1rem 1rem 0; }
    .seccion-inicio__item:last-child {
      margin-bottom: 2rem; } }

@media only screen and (max-width: 768px) {
  /* GENERAL */
  body {
    overflow-x: hidden; }
    body header {
      display: flex;
      align-items: center;
      justify-content: center; }
      body header nav {
        align-self: auto;
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: transparent; }
  .menu {
    display: flex;
    flex-direction: column;
    height: 77%;
    background-color: #fbdfe9;
    z-index: 1000; }
    .menu a {
      height: inherit;
      font-size: 90%; }
  .menu > li {
    line-height: 2rem; }
  .submenu {
    width: 100%;
    position: relative; }
    .submenu li:first-child {
      border-top: 1px solid #6666688a; }
  body {
    font-size: 14px; }
  /* INICIO */
  .inicio {
    justify-content: center;
    align-items: center; }
  .comentario {
    font-size: 120%; }
  .principal__titulo {
    height: 100%; }
  .principal__descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    height: 100%; }
  .seccion-inicio {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 3rem; }
    .seccion-inicio__item {
      width: 20rem; }
      .seccion-inicio__item:last-child {
        margin-bottom: 0; }
  /* SERVICIOS */
  .parrafo-servicio {
    flex-direction: column;
    margin: 5% 5%; }
    .parrafo-servicio__subtitulo {
      text-align: center; }
  .parrafo-servicio__imagen--derecha {
    margin-left: 0px;
    order: initial; }
  .parrafo-servicio__imagen--izquierda, .parrafo-servicio__imagen--derecha {
    margin-right: 0px; }
  /* CATÁLOGO */
  .catalogo-tradicional__item:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .catalogo-tradicional__item:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .catalogo-tradicional__item:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 1; }
  .catalogo-tradicional__item:nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .catalogo-tradicional__item:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .catalogo-semiper__item:nth-child(11) {
    grid-row-start: span 1;
    grid-column-start: span 2; }
  .catalogo-acrilicas__item:nth-child(7) {
    grid-row-start: span 2; }
  .catalogo-acrilicas__item:nth-child(18) {
    grid-row-start: span 2; }
  .catalogo-acrilicas__item:nth-child(23) {
    grid-row-start: span 1; }
  .catalogo__subtitulo {
    font-size: 220%; }
  /* SOBRE MI */
  .sobre-mi {
    width: 60vw;
    height: auto;
    margin: auto;
    padding: 15px 25px 15px 25px;
    border-radius: 8px;
    background-color: #e2a0ae;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .sobre-mi__foto {
    width: 100%;
    height: 100%; }
  .sobre-mi__descripcion {
    width: 100%;
    height: 100%; }
  /* CONTACTO */
  .form {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px; } }

@media only screen and (max-width: 420px) {
  /* GENERAL */
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px; }
  .footer__logo {
    width: 20px;
    height: 20px; }
  .footer__parrafo {
    width: 100%; }
  .footer__item {
    padding: 0px 2px;
    width: auto;
    height: auto; }
  .footer__lista {
    display: flex;
    width: 80vw;
    margin-bottom: 15px; }
  .footer__comentario {
    margin-bottom: 3%;
    width: 100%;
    height: 100%;
    flex-wrap: wrap; }
    .footer__comentario-espacio {
      line-height: 20px; }
  .submenu li {
    white-space: pre-wrap; }
  /* INICIO */
  .seccion-inicio__item {
    width: 15rem;
    margin-right: 0; }
  /* CATÁLOGO */
  .catalogo-tradicional {
    grid-template-columns: repeat(2, 1fr);
    width: 100%; }
    .catalogo-tradicional__item:nth-child(1) {
      grid-row-start: span 1;
      grid-column-start: span 2; }
    .catalogo-tradicional__item:nth-child(2) {
      grid-row-start: span 1;
      grid-column-start: span 1; }
    .catalogo-tradicional__item:nth-child(6) {
      grid-row-start: span 1;
      grid-column-start: span 2; }
  .catalogo-semiper {
    grid-template-columns: repeat(2, 1fr);
    width: 100%; }
    .catalogo-semiper__item:nth-child(4) {
      grid-row-start: span 1;
      grid-column-start: span 1; }
    .catalogo-semiper__item:nth-child(11) {
      grid-row-start: span 1;
      grid-column-start: span 2; }
  .catalogo-acrilicas {
    grid-template-columns: repeat(2, 1fr);
    width: 100%; }
    .catalogo-acrilicas__item:nth-child(23) {
      grid-row-start: span 1;
      grid-column-start: span 1; }
  .catalogo-recacr {
    grid-template-columns: repeat(2, 1fr);
    width: 100%; }
    .catalogo-recacr__item:nth-child(3) {
      grid-column-start: span 2; }
    .catalogo-recacr__item:nth-child(4) {
      grid-column-start: span 2; }
  .catalogo-videos {
    display: flex;
    flex-wrap: wrap; }
    .catalogo-videos__item {
      padding: 0 1rem;
      height: 50vh;
      width: 30vw; }
  .catalogo__subtitulo {
    font-size: 130%;
    text-align: center; }
  /* SOBRE MI */
  .sobre-mi {
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 1.5%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%; }
    .sobre-mi__foto {
      width: 100%;
      height: 100%; }
    .sobre-mi__descripcion {
      width: 100%;
      height: 100%; } }

.comentario {
  word-spacing: 1px;
  font-size: 35px;
  padding: 10px;
  text-align: center; }

main {
  margin-left: 1.5%;
  margin-right: 1.5%; }
