/*Catálogo*/

@mixin imagenes{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 3px;
}

.contenedor-catalogo{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogo-tradicional{
    width: 80vw;
    margin: auto;
    margin-bottom: 10rem;
    

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 10rem;

    &__imagen{
        @include imagenes;
    }
    
    &__item:nth-child(1){
        grid-row-start: span 3;
    }

    &__item:nth-child(2){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
}

.catalogo-semiper{
    width: 80vw;
    margin: auto;
    margin-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem;

    &__imagen{
        @include imagenes;
    }
}

.catalogo-acrilicas{
    width: 80vw;
    margin: auto;
    margin-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem;

    &__imagen{
        @include imagenes; 
    }

    &__item:nth-child(7){
        grid-row-start: span 3;
    }

    &__item:nth-child(18){
        grid-row-start: span 3;
    }

    &__item:nth-child(19){
        grid-row-start: span 2;
    }
}

.catalogo-recacr{
    width: 80vw;
    margin: auto;
    margin-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem;

    &__imagen{
        @include imagenes;
    }
}

.catalogo-tradicional__imagen:hover,.catalogo-semiper__imagen:hover,.catalogo-acrilicas__imagen:hover,.catalogo-recacr__imagen:hover{
    transform: scale(1.2,1.2);
    z-index: 1;
    transition: .6s;
}

