/*Catálogo*/

@mixin sizes ($gridarea){
    grid-area: $gridarea;
    width: 10rem;
    height: 15rem;
}

    
    .catalogo__subtitulo{
    text-align: center;
    word-spacing: 2px;
    color: $azul_oscuro;
    grid-area: titulo;
    font-size: 130%;
    align-self: center;
    padding-bottom: .7%;
    }

    .catalogo {
        display: grid;
        grid-template-columns: (3, 1fr);
        grid-gap: 1rem;
        grid-auto-flow: row dense;
        grid-auto-rows: 150px;

        &__imagen{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
      


