.inicio{
    
    main{
        height: 100%;
        margin-top: 3%;
        padding-top: 1rem;
    }
}

.principal{

    &__descripcion{
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    &__titulo{
    margin-top: 1.5%;
    font-family: $cursiva;
    font-size: 60px;
    width: 100%;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    }
}

.seccion-inicio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 3rem 0;
    border-top: 1.5px solid #6666688a;
    border-bottom: 1.5px solid #6666688a;

    
    &__item{
        background-color: #fbdfe9;
        padding: 3rem 2rem;
        border-radius: 5px;
        box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
    }
    
    &__link{
        text-decoration: none;
    }

    &__parrafo{
        margin-bottom: 0px;
        text-align: center;
        color: $azul_oscuro;
        transition: 250ms ease;
        &:hover{
            transform: translateY(-1px);
            color: $rosa_oscuro;
        }
        
    }
    
    &__logo{
        color: $azul_oscuro;
    }
}