.inicio{
    
    main{
        height: 100%;
        margin-top: 3%;
    }
}

.principal{

    &__descripcion{
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    }

    &__titulo{
    margin-top: 1.5%;
    font-family: $cursiva;
    font-size: 50px;
    width: 100%;
    color: black;
    border-left: solid white 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    }
}

.seccion-inicio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;

    &__item{
        background-color: $rosa_medio;
        padding: 2rem;
        border-radius: 3px;
        width: 15rem;

        box-shadow: 0px 1.5px 1.5px 1px hsla(240, 1%, 70%, 0.502);
    }

    &__parrafo{
        margin-bottom: 0px;
        text-align: center;
        color: $azul_oscuro;
    }

    &__logo{
        color: $azul_oscuro;
    }
}