/*Sobre Mi*/

.sobre-mi{
    height: 70vh;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__foto{
    width: 40%;
    height: 70vh;
    }

    &__descripcion{
    background-color: $rosa_medio;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    }

    &__texto{
    word-spacing: 2px;
    line-height: 1.5;
    margin: 10px;
    display: block;
    }
}
